/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body::before {
  /* display: block; */
  content: "";
  height: 60px;
}

::selection {
  background: #33d6a6;
}

.btn-lg a {
  color: black;
  text-decoration: none;
}

.btn-lg a:hover {
  color: white;
  transition: all 0.7s ease-in-out;
}
/* 
.waves{
    padding: 0;
    margin: 0;
    width: 108.5%;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
} */

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 50px; /* change this to change the size*/
  
}

#fb{
  font-size: 50px; 
  padding-left: 10px;
}